body {
    background-color: rgb(138, 138, 138);
}

blockquote {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #000;
}

blockquote .text {
    font-style: italic;
}

blockquote {
    cursor: pointer;
}

blockquote:hover {
    background-color: #000;
    color: #ffff;
}

blockquote * {
    pointer-events: none;
}
.character {
    width: 18rem;
    background-color: #ffff;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
    /* curp */
    cursor: pointer;
}

.character * {
    /* pev */
    pointer-events: none;
}

.character img {
    width: 100%;
    /* h6rem */
    height: 18rem;
    /* obft */
    object-fit: cover;
}

.character .text {
    padding: 1rem;
}


.model {
    /* dn */
    display: none;
}

#characters {
    /* df */
    display: flex;
    /* fwr */
    flex-wrap: wrap;
    /* jcc */
    justify-content: center;
    /* gap */
    gap: 2rem;
}



#pagination {
    /* tac */
    text-align: center;
    /* p1rem */
    padding: 1rem;
}






.character-detail {
    /* w100p */
    width: 100%;

    max-width:60rem;
    /* m0 */
    margin: 0 auto;

}


.character-detail .image {
    height: 20rem;
}

.character-detail .image img {
    height: 100%;
}